header{
	background: linear-gradient(to bottom,  red, #ffffff) ;
	
}

.caixa{

	position: relative;
	width: 940px;
	margin: 0 auto;
	font-weight: bold;
	padding: 50px 20px;
	box-sizing: border-box;


}

nav{

	position: absolute;
	top: 110px;
	right: 0;

}

.menu{

	background: #000000;
	border-radius: 10px;
	padding: 10px 80px;

}

nav li {

	display: inline;
	margin: 0 0 0 15px;
}

nav li:hover{
	color: pink;
}

.font-menu{

	color: #ffffff;
	font-size: 20px;
	margin: 32px;
}

nav a{

	text-transform: uppercase;
	color: #000000
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.produto {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}



.produto li{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-top: 10px;
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
	border-radius: 20px;

}

.produto li:hover{
	color: pink;
	border-color: pink;
	
}

.produto li:hover h2{
	font-size: 40px;
}

.produto li:active{
	color: red;
	border-color: red;
}


.produto h2 {
	text-align: center;
	font-weight:bold;
	
}

.produto p {

}

.titulo-promocao{
	font-size: 30px;
	font-weight: bold;
}

.descricao{
	font-size: 17px;

}

.precoprod{

	font-size: 30px;
	color: red;
	margin: 23px;

}




